div(class="items")
    div(class="item" v-for="item in videos")
        div(class="row")
            div(style="width: calc( 100px);display: flex; justify-content: center;align-items: center;")
                div(style="font-size:18px; margin-right:10px") {{item.sort/10}}
                div(@click="videoUp(item)" style="font-size:18px; margin-right:10px" class="arrowUp")
                div(@click="videoDown(item)" style="font-size:18px; margin-right:10px" class="arrowDown")

            div(style="width: calc(50% - 100px);")
                div(class="label") Название канала
                input(type="text" class="txtInput" v-model="item.title" v-on:keydown="keyDownVideo(item, $event)" v-on:change="videoChange(item, $event)" )
            div(style="width: calc(50% - 100px);")
                div(class="label") URL потока
                input(type="text" class="txtInput" v-model="item.url" v-on:keydown="keyDownVideo(item, $event)" v-on:change="videoChange(item, $event)" )
        div(style="display: flex;justify-content: flex-end;")
            input(type="button" class="btn btn-danger" value="Удалить" @click="deleteVideo(item)" )
div(class="sectItemAdd")
    input(type="text" class="txtInput" v-model="videoTitle" placeholder="введите название, что бы добавить" v-on:keydown="keyDownVideoAdd($event)" )